/*
* Terraform variables file, copy this file to <ENVIRONMENT>.tfvars ( development.tfvars, production.tfvars ) and fill in the values you require.
* Remove the comments and replace the values with the desired values for your environment.
* This tfvars file is used to configure the environment for the Terraform implementation.
* required:
* - owner: The owner of the environment
* - ghcr_token: Github Container Registry token
* - ghcr_username: Github Container Registry username
* optional:

*/

owner = "dibbs"
project = "dibbs"